button{
  width: 100px;
  color: green;
  display: block;
  margin:0px auto;
}
ul{
  display: flex;
  list-style: none;
  justify-content: center;

  
}
li{
  border: 4px solid lightblue;
  border-radius: 20px;

 font-size: 25px;
 margin: 15px;
 

   
}

